.button {
  @apply w-full p-4 rounded-2xl font-semibold border-2 border-primary border-solid;
  letter-spacing: 0.5px;
}

.primary {
  @apply bg-primary text-white;
  transition: background-color 0.2s ease-in;
  &:hover {
    --tw-bg-opacity: 0.7;
  }
}

.secondary {
  @apply bg-white text-primary;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  &:hover {
    @apply bg-primary text-white;
  }
}
